@model Location

<tr>
    <td>
        @Html.DisplayFor(l => l.Name)
    </td>
    <td>
        @Html.DisplayFor(l => l.Address)
    </td>
    <td>
        <button class="btn btn-primary text-white float-none" onclick="location.href='@Url.Action("ViewInventoryAtLocation", "Customer", new { locationId = Model.Id })'">
            Order from this location.
        </button>
    </td>
</tr>