@model IceShopWeb.Models.Order
@{var order = Model;}

<tr>
    <td>
        @Html.DisplayFor(o => o.Location.Name)
    </td>
    <td>
        $@Html.DisplayFor(o => o.Subtotal)
    </td>
    <td>
        @Html.DisplayFor(o => o.Address)
    </td>
    <td>
        @Html.DisplayFor(o => o.TimeOrderWasPlacedAsString)
    </td>
    <td>
        @Html.ActionLink("View Products", "ViewOrderDetails", new { orderId = order.Id })
    </td>
</tr>
