@model IEnumerable<IceShopDB.Models.Customer>
@{
    ViewData["Title"] = "GetAllCustomers";
    Layout = "_Layout";
    var customers = Model;
    var exampleCustomer = customers.First();
}

<div class="text-center">

    <h1>GetCustomersByName</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id);
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var customer in Model)
                {
                    // I manually add the customer as a model here, rather than the Model, which is a collection of customers.
                    // I need only one, not a list.

                    //@await Html.PartialAsync($"_CustomerInfoInTableRow", customer);
                }
            }

        </tbody>
    </table>


</div>