@model Customer
@{
    ViewData["Title"] = "Index";
    Customer CurrentCustomer = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    // TODO: Populate this view with options for a customer who has just logged in.
}

<h2>Welcome, @CurrentCustomer.Name!</h2>

<h4>What would you like to do?</h4>

<input type="button" value="View Order History" onclick="window.location.href='@Url.ActionLink(action:"GetOrderHistory", controller:"Customer")'" />
<input type="button" value="Place Order" onclick="window.location.href='@Url.Action("SelectLocation", "Customer")'" />
<input type="button" value="View Current Cart" onclick="window.location.href='@Url.Action("ViewOrderCart", "Customer")'" />
