@model List<InventoryLineItem>

@{ 
    var inventoryLineItems = Model;

    var Cart = ViewData["CartData"] as List<InventoryLineItem>;
}


<h1>Products at @ViewData["LocationName"]</h1>
<div class="text-center container card-deck">


    @{
        foreach (var ili in inventoryLineItems)
        {

            @await Html.PartialAsync($"_InventoryLineItemInfoInCard", ili);
        }
    }
</div>
<h2>Current Cart</h2>
<div class="text-center container card-deck">
    @{
        foreach (var ili in Cart)
        {
            @await Html.PartialAsync($"_CartLineItemInfoInCard", ili);
        }
    }
</div>

@Html.ActionLink("Submit Order.", "SubmitOrder", "Customer")
    
    

